fastapi
uvicorn
python-multipart
pandas
requests
beautifulsoup4
lxml

ragas
datasets
langchain-community
langchain-huggingface

pdfplumber

scikit-learn
sentence-transformers
faiss-cpu
rank_bm25
langchain-text-splitters

SPARQLWrapper
rdflib

ollama

numpy
